body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    border: 15px solid #26A69A;
    color: #333333;
    position: relative;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    max-height: 80%;
    overflow-y: scroll;
}

h1{
    border: 5px solid #26A69A;
    font-size: 33px;
    background-color: #2C73D2;
    color: #333333;
    text-align: center;
    border-radius: 8px;
}


.Inputs{
    position: relative;
    font-size: 25px;
    color: #333333;
}

.input_cadastro{
    background: none;
    border: none;
    width: 100%;
    flex-direction: column-reverse;
    border-bottom: 5px solid #26A69A;
    font-size: 25px;
}

#enviar{
    padding: 10px;
    border-radius: 10px;
    color: #333333;
    background-color: #2C73D2;
    border: 5px solid #26A69A;
    font-size: 33px;
} 

.paragrafo{
    color: #333333;
    font-size: 20px;
}

