body {
    font-family: 'Segoe UI';
    background-color:rgba(108, 65, 224, 0.774);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.texto1{
    color: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 10px;
}

.caixa {
    background-color: rgb(75, 46, 153);
    padding: 20px;
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0px 0px 15px;
}

.caixa2{
    background-color: white;
    width: 300px;
    height: 640px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: large;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 0px 15px;
}

input {
    width: 450px;
    padding: 8px;
    font-family: 'Segoe UI';
    font-size: larger;
    border-radius: 40px;
    border-width: 15px;
}

button {
    width: 200px;
    padding: 10px;
    background-color: rgb(75, 46, 153);
    font-size: 20px;
    border-radius: 30px 30px 30px 30px;
    border-width: 10px;
}


