* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }
body { height: 100vh; background: #1fcccc; display: flex; align-items: center; justify-content: center; }

.container { 
    display: flex; width: 850px; height: 500px; background: #10614d; 
    border-radius: 15px; overflow: hidden; box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.esquerda { 
    flex: 1; background: url(https://img.freepik.com/psd-gratuitas/elementos-medicos-3d-com-um-batimento-cardiaco_23-2151202567.jpg?semt=ais_hybrid&w=740&q=80) center/cover; position: relative;
}

.overlay {
    position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.4);
    display: flex; flex-direction: column; justify-content: center; padding: 30px; color: white;
}

.direita { flex: 1.2; padding: 40px; display: flex; flex-direction: column; justify-content: center; }

h2 { margin-bottom: 20px; color: #333; }
input { width: 100%; padding: 12px; margin-bottom: 12px; border: 1px solid #1d0808; border-radius: 5px; }
.row { display: flex; gap: 10px; }
button { width: 100%; padding: 12px; background: #00040a; color: #fff; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; }
button:hover { background: #5e7746; }
p { margin-top: 15px; font-size: 14px; text-align: center; }

