body {
    font-family: 'Segoe UI';
    background-color:rgba(108, 65, 224, 0.774);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(75, 46, 153);
    padding: 20px;
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 15px;
}

.texto {
    color: white;
    font-family: 'Segoe UI';
    font-size: 10px;
}

input {
    width: 300px;
    height: 30px;
    font-family: 'Segoe UI';
    font-size: larger;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    font-family: 'Segoe UI';
}

button {
    width: 200px;
    padding: 10px;
    background-color: rgb(75, 46, 153);
    font-size: 20px;
    border-radius: 30px 30px 30px 30px;
    border-width: 20px;
    border-color: purple;
}